:root {
    --text-color: #f5c816;
    --background-color: #201f1f;
    --secondary-color: #f4f3e7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    position: relative;
    width: 100%;
    padding: 40px;
}